*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#nav{
    display:flex;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    text-wrap: nowrap;
    align-items: center;
    border-top: 1vh solid #faa307;
}

#header-image{
    height: 10vh;
    object-fit: none;
}

.logo{
    margin-right: -10%;
    display: inline-flex;
    align-items: center;
    }

nav ul{
    display: inline-flex;
    list-style-type: none;
    width: 100%;
}
nav{
    text-align: center;
    width: 100%;
}
nav li{
    flex: 1;
    text-align: center;
    justify-content: space-between;
}

footer{
    display: flex;
    width: 100%;
    background-color: #faa307;
    padding: 50px;
    text-wrap: nowrap;
    align-items: center;
}

#container-social{
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: 5vw;
}
.social{
    justify-content: center;
    display: inline-flex;
    gap: 20px;
}

main{
    flex: 1;
}