#header-image{
    height: 20vh;
    object-fit: cover;
}

main{
    margin: 0 5%;
    padding: 2% 0;
}

main div{
margin-top: 2%;
}

main ol, ul{
    margin-top: 20px;
    
}

a{
    text-decoration: none;
    color: #000000;
    display: block;
}